<form action="/" method="post">
   
    <table id="myTable">
      
    </table>
    <button type="button" onclick="addRow()">Add Row</button>
    <button type="submit">Submit</button>
        <table>
            <tr>
                <th>Name</th>
                <th>Payments</th>
            </tr>
            {% for key, value in costs.items() %}
            <tr>               
                <th>{{key}}</th>
                <th>${{value}}</th>      
            </tr>
            {% endfor %}
        </table> 
      <ul>
          {% for item in data %}
              <li>{{ item[0] }} owes {{ item[1] }} ${{item[2]}}</li>
          {% endfor %}
      </ul>
  </form>
  
  <script>
  var i = 0
  function addRow() {
    i++
    var table = document.getElementById("myTable");

    var row = table.insertRow();
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
  
    var input1 = document.createElement("input");
    input1.type = "text";
    input1.id = "name" + i;
    input1.name = "name" + i;
    var input2 = document.createElement("input");
    input2.type = "text";
    input2.id = "moneys" + i;
    input2.name = "moneys" + i;
    input2.type = 'number';
    input2.step = 0.01;
  
    var label1 = document.createElement("label");
    label1.for = "name" + i;
    label1.textContent = "Name: ";
    var label2 = document.createElement("label");
    label2.for = "moneys" + i;
    label2.textContent = "Moneys: ";
  
    cell1.appendChild(label1);
    cell1.appendChild(input1);
    cell2.appendChild(label2);
    cell2.appendChild(input2);
    
  }
  </script>